
script(type='text/javascript', src='/js/vendor/jquery/jquery.min.js')
script(type='text/javascript', src='/js/vendor/jquery/jquery.widget.min.js')
script(type='text/javascript', src='/js/vendor/handlebarsjs/handlebars.js')
script(type='text/javascript', src='/js/vendor/emberjs/ember.js')
script(type='text/javascript', src='/js/vendor/emberjs/ember-data.js')

script(type='text/javascript', src='/js/templates/compiled-templates.js')

script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/router.js')
script(type='text/javascript', src='/js/helpers.js')

script(type='text/javascript', src='/js/routes/application_route.js')
script(type='text/javascript', src='/js/routes/index_route.js')
script(type='text/javascript', src='/js/routes/settings/email_route.js')
script(type='text/javascript', src='/js/routes/settings/trello_route.js')

script(type='text/javascript', src='/js/models/index_model.js')
script(type='text/javascript', src='/js/models/settings/email_model.js')
script(type='text/javascript', src='/js/models/settings/trello_model.js')

script(type='text/javascript', src='/js/views/settings/email_view.js')
script(type='text/javascript', src='/js/views/settings/trello_view.js')

script(type='text/javascript', src='/js/controllers/application_controller.js')
script(type='text/javascript', src='/js/controllers/index_controller.js')
script(type='text/javascript', src='/js/controllers/settings/email_controller.js')
script(type='text/javascript', src='/js/controllers/settings/trello_controller.js')

script(type='text/javascript', src='/js/vendor/bootstrap/dist/js/metro.min.js')
