<nav class="horizontal-menu">
	<ul>
		<li><h2 class="product-title"><a href="#/">Mello</a></h2></li>
		<li>
			<nav class="horizontal-menu compact">
				<ul>
					<li><a href="#/">Home</a></li>
					<li>
						<a href="#/settings/email" class="dropdown-toggle">Settings</a>
						<ul class="dropdown-menu" data-role="dropdown">
							<li><a href="#/settings/email">Email</a></li>
							<li><a href="#/settings/trello">Trello</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</li>
	</ul>
</nav>

{{outlet}}